body {
/*   background-image: url('Road in the middle of a forest with trees and fog.jpg'); */
  background-color: 'blue';
  color: white;
}

.txtInput {
  border-width: 1px;
  border-radius: 6px;
  padding-left: 6px;
  outline-style: none;
}

.weatherCont {
  margin-top: 12px;
}
